<div class="date">
    <h2 class="today">
        今日の日付<br>
        <%= Date.today %>
    </h2>
</div>
    
<div class=>
    <%= flash[:notice] %>
    <% if @current_user %>
        <h3>
            本日の勉強時間
        </h3>
        <div class="timer">
            合計時間  <%= @hours %>時間  <%= @minuits %>分
        </div>
        <br>
        <!--今日の記録を表示-->
        <% @measurements.each do |measurement|%>
            <div>ID:<%= measurement.id %></div>
            <div>開始日時：<%= measurement.start_at %></div>
            <div>終了日時：<%= measurement.end_at %></div>
            <br>
        <% end %>

    <% end %>
</div>

<div class="btn-container">
    
</div>