<%= form_with do |form| %>
<!--Userモデルに紐づいたパーシャル。インスタンスの中身の有無によってcreateかupdateか自動振り分け-->
    <div>
        <%= form.label :name, "名前", style: "display: block" %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :password, "パスワード", style: "display: block" %>
        <%= form.text_field :password %>
    </div>
    <div>
        <%= form.submit "ログイン" %>
        <!--インスタンスが空ならcreateへ、そうでなければupdateへ-->
    </div>
<% end %>
