<!DOCTYPE html>
<html>
  <head>
    <title>LearnLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "main", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class=header-left>
        <div class="username">
          <%if @current_user%>
            ログインユーザー：<%= @current_user.name %>
          <% end %>
        </div>
      </div>
      <div class="header-center">
        <div class="logo"> 
          <%= link_to("LearnLog", top_path ) %>
          <%# ↑ロゴ画像に置き換えたい %>
        </div>
      </div>
      <div class="header-right">
        <ul class="menus">
            <% if @current_user %>
              <li>
                <%= link_to("計測する", new_measurement_path) %>
              </li>
              <li>
                <%= link_to("一覧", measurements_path) %>
              </li>
              <li>
                <%= link_to("ログアウト", logout_path, data:{turbo_method: :delete, turbo_confirm: "ログアウトしてよろしいですか？"}) %>
              </li>
            <% else %>
              <li>
                <%= link_to("LearnLogとは", about_path) %>
              </li>
              <li>
                <%= link_to("ログイン", login_path) %>
              </li>
              <li>
                <%= link_to("新規登録", new_user_path) %>
              </li>
            <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
